.footer {
  margin-top: 70px;
  margin-bottom: 35px;
}

.footer__copyright {
  margin: 0;
  color: #545454;
  font-size: 18px;
  line-height: 22px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
}

@media screen and (max-width: 619px) {
  .footer__copyright {
    font-size: 14px;
    line-height: 17px;
  }
}
