.image-modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  color: #000;
  z-index: 999;
  display: flex;
  display: none;
}

.image-modal__container {
  padding: 0 40px;
  margin: auto;
  display: flex;
  flex-direction: column;
  position: relative;
}

.image-modal_opened {
  display: flex;
}

.image-modal__close {
  padding: 0;
  background-image: url(../images/close-icon.svg);
  height: 40px;
  width: 40px;
  border-style: none;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% - 35px);
  cursor: pointer;
}

.image-modal__image {
  max-width: 75vw;
  max-height: 75vh;
}

.image-modal__caption {
  margin: 10px 0 0;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 12px;
}

@media screen and (max-width: 619px) {
  .image-modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 5px);
    left: calc(100% - 35px);
  }
}
