.image-modal {
  padding: 0 19px;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgb(0, 0, 0, 0.5);
  color: #000;
  z-index: 999;
  display: flex;
  display: none;
}

.image-modal_opened {
  display: flex;
}

.image-modal__close {
  padding: 0;
  background-image: url(../images/close-icon.svg);
  height: 40px;
  width: 40px;
  border-style: none;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}
