.modal {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background-color: rgba(0, 0, 0, 0.5);
  color: #000;
  z-index: 999;
  display: flex;
  visibility: hidden;
  pointer-events: none;
  opacity: 0;
  transition: visibility 0.5s, opacity 0.5s linear;
}

.modal__container {
  margin: auto;
  padding: 0 19px;
  min-width: 430px;
  padding: 34px;
  background-color: white;
  border-radius: 10px;
  position: relative;
}

.modal_opened {
  visibility: visible;
  opacity: 1;
  pointer-events: all;
  transition: visibility 0s, opacity 0.5s linear;
}

.modal__heading {
  margin: 0 0 42px;
  font-family: Inter, Arial, sans-serif;
  font-weight: 900;
  font-size: 24px;
  line-height: 29px;
}

.modal__form {
  display: flex;
  flex-direction: column;
  gap: 29.74px;
}

.modal__input {
  padding: 0;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 27px;
  border-top: none;
  border-left: none;
  border-right: none;
  border-color: rgb(0, 0, 0, 0.2);
  outline: none;
}

.modal__button {
  margin-top: 18.26px;
  padding: 0;
  height: 50.15px;
  border-style: none;
  border-radius: 2px;
  background-color: #000;
  color: #fff;
  font-family: Inter, Arial, sans-serif;
  font-weight: 400;
  font-size: 18px;
  cursor: pointer;
}

.modal__button:hover {
  opacity: 80%;
}

.modal__close {
  padding: 0;
  background-image: url(../images/close-icon.svg);
  height: 40px;
  width: 40px;
  border-style: none;
  background-color: transparent;
  background-size: contain;
  position: absolute;
  bottom: calc(100% + 5px);
  left: calc(100% + 5px);
  cursor: pointer;
}

.modal__close:hover {
  opacity: 60%;
}

@media screen and (max-width: 619px) {
  .modal__container {
    padding: 22px;
    min-width: 238px;
  }
  .modal__heading {
    margin: 0 0 65px;
  }

  .modal__close {
    width: 26px;
    height: 26px;
    bottom: calc(100% + 22px);
    left: 90%;
  }
}
