.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  margin-right: 24px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
}

.profile__text {
  display: flex;
  align-items: center;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__title {
  margin: 0;
  font-size: 42px;
  font-family: Inter, Arial;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  grid-area: title;
}

.profile__description {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-family: Inter, Arial;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  margin: 0 18px;
  padding: 0;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  min-width: 24px;
  grid-area: button;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.profile__edit-button:hover {
  opacity: .6;
}

.profile__add-button {
  margin-left: auto;
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  min-width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.profile__add-button:hover {
  opacity: .6;
}

@media screen and (max-width: 918px) {
  .profile__title {
      font-size: 32px;
  }

  .profile__add-button {
      min-width: 50px;
  }
}

@media screen and (max-width: 619px) {
  .profile {
      flex-direction: column;
      justify-content: center;
      align-items: center;
    }
  
    .profile__info {
      width: 100%;
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
    }

    .profile__title {
      font-size: 22px;
    }
  
    .profile__description {
      padding-bottom: 30px;
      width: 100%;
      text-align: center;
    }
  
    .profile__add-button {
      margin: 0;
      width: 100%;
    }
}