.page {
  margin: 0;
  background-color: black;
  color: white;
}

.page__section {
  margin: 0 auto;
  max-width: 880px;
  width: 100%;
  position: relative;
}

.page__content {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}

.header {
  margin-top: 45px;
}

.content {
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  padding-right: 24px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  object-fit: cover;
  background-position: center;
}

.profile__info {
  display: grid;
  grid-template-areas: "title button" "description description";
  grid-template-columns: minmax(auto, 373px) auto;
}

.profile__title {
  margin: 0;
  font-size: 42px;
  line-height: 48px;
  font-weight: 500;
  grid-area: title;
}

.profile__description {
  margin: 0;
  font-size: 18px;
  line-height: 22px;
  grid-area: description;
}

.profile__edit-button {
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
}

.profile__add-button {
  margin-left: auto;
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  width: 150px;
}

.cards {
}

.card__list {
  display: grid;
  justify-content: center;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
}
