@import url(../vendor/normalize.css);
@import url(../vendor/fonts.css);

.page {
  margin: 0;
  background-color: black;
  color: white;
}

.page__content {
  padding: 0 19px;
}

.page__section {
  margin: 0 auto;
  max-width: 880px;
  /* width: 100%;
  position: relative; */
}

.header {
  margin-top: 45px;
}

.header__logo {
  margin-bottom: 41px;
}

.header__divider {
  border-width: 0 0 1px 0;
  border-style: solid;
  border-color: #545454;
}

.content {
}

.profile {
  display: flex;
  align-items: center;
  padding-top: 40px;
}

.profile__image {
  margin-right: 24px;
  height: 120px;
  width: 120px;
  border-radius: 50%;
  /* object-fit: cover;
  background-position: center; */
}

.profile__info {
  display: grid;
  grid-template-areas:
    "title button"
    "description description";
  align-items: baseline;
  /* grid-template-columns: minmax(auto, 415px) auto; */
}

.profile__title {
  margin: 0;
  font-size: 42px;
  font-family: Inter, Arial;
  line-height: 48px;
  font-weight: 500;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__description {
  margin: 0;
  padding-top: 10px;
  font-size: 18px;
  font-family: Inter, Arial;
  font-weight: 400;
  line-height: 22px;
  grid-area: description;
  max-width: 415px;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.profile__edit-button {
  margin: 0 18px;
  padding: 0;
  background: transparent url(../images/edit-button.svg) center no-repeat;
  height: 24px;
  width: 24px;
  grid-area: button;
  border-style: solid;
  border-width: 1px;
  border-color: white;
}

.profile__add-button {
  margin-left: auto;
  background: transparent url(../images/add-button.svg) center no-repeat;
  height: 50px;
  min-width: 150px;
  border-style: solid;
  border-width: 2px;
  border-color: white;
}

.cards {
  margin-top: 40px;
}

.card__list {
  margin: 0;
  padding: 0;
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 282px);
  grid-gap: 20px 17px;
  list-style-type: none;
}

.card {
  display: flex;
  flex-direction: column;
}

.card__image {
  width: 282px;
  height: 282px;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}

.card__description {
  height: 29px;
  padding: 25px 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  background-color: white;
  color: black;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.card__title {
  font-family: Inter, Arial;
  font-weight: 900;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.card__like-button {
  background: transparent url(../images/like-inactive.svg) center no-repeat;
  height: 18px;
  width: 21px;
  border-style: none;
}

@media screen and (max-width: 480px) {
  .profile {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .profile__info {
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    justify-content: center;
  }

  .profile__description {
    width: 100%;
    text-align: center;
  }

  .profile__add-button {
    margin: 0;
    width: 100%;
  }
}

.footer {
  margin-top: 70px;
  color: #545454;
}
